# Edit this file to introduce tasks to be run by cron.
#
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
#
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').#
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
#
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
#
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
#
# For more information see the manual pages of crontab(5) and cron(8)
#
# m h  dom mon dow   command
*/1 * * * * cd /explorer && ./script/cron_block.sh >> ./tmp/block.log 2>&1
*/1 * * * * cd /explorer && /root/.nvm/versions/node/v10.16.2/bin/node ./cron/masternode.js >> ./tmp/masternode.log 2>&1
*/1 * * * * cd /explorer && /root/.nvm/versions/node/v10.16.2/bin/node ./cron/peer.js >> ./tmp/peer.log 2>&1
*/1 * * * * cd /explorer && /root/.nvm/versions/node/v10.16.2/bin/node ./cron/rich.js >> ./tmp/rich.log 2>&1
#*/5 * * * * cd /explorer && /root/.nvm/versions/node/v10.16.2/bin/node ./cron/coin.js >> ./tmp/coin.log 2>&1
*/3 * * * * cd /explorer && /root/.nvm/versions/node/v10.16.2/bin/node ./cron/sync.js >> ./tmp/sync.log 2>&1
*/1 * * * * cd /explorer && /root/.nvm/versions/node/v10.16.2/bin/node ./cron/statistic.js >> ./tmp/statistic.log 2>&1
*/1 * * * * cd /explorer && /root/.nvm/versions/node/v10.16.2/bin/node ./cron/listevent.js >> ./tmp/listevent.log 2>&1
*/1 * * * * cd /explorer && /root/.nvm/versions/node/v10.16.2/bin/node ./cron/proposal.js >> ./tmp/proposal.log 2>&1
#*/5 * * * * cd /explorer && /root/.nvm/versions/node/v10.16.2/bin/node ./cron/price.js >> ./tmp/price.log 2>&1

