.indicator {
    padding-left: 0.5em;

}

.card {
	font-size: 20px;
	line-height: 1.25;
	margin-top: 16px;
	margin-bottom: 16px;
	min-height: 220px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	border-radius: 5px;

	&:hover {
		box-shadow: 0 8px 14px rgba(0,0,0,0.20), 0 4px 4px rgba(0,0,0,0.18);
		}

	&__title {
		padding: 10px 15px 0px 15px;
		font-family: $fontLarge;
		font-size: 24px;
		margin-bottom: .8em;
		text-transform: capitalize;
	}

	&__body {
		font-family: $fontLarge;
		height: 100%;
		padding: 0px 15px 10px 15px;
	}

	&__result {
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__row {
		display: flex;

	}

	&__data-sub {
		line-height: 2;
	}

	&__graph {
		margin: 0 -15px;
	}

	&__label {
		padding-right: 10px;

		@include media-breakpoint-up(md) {
			min-width: 200px;
		}
	}

	&__label-small {
		padding-right: 10px;

		@include media-breakpoint-up(md) {
			min-width: 100px;
		}
	}

	&__badge {

		/*Bootstrap override*/
		&.badge-danger {
			color: $white !important;
		}
	}

	&--address {
		&-hash {
      color: $gray-dark;
			font-size: 24px;
      font-weight: 400;

      &:hover {
        color: $wgreen;
      }
		}

		&-wallet {
			font-size: 24px;
		}
	}

	&--block &__row {
		justify-content: flex-start;
	}

	&--block &__label {
		padding-right: 10px;
	}

	&--status &__row {
		justify-content: flex-start;
	}

	&--market {
		font-size: 14px;
	}

	&--market &__info {
		display: flex;
		margin-top: .5em;
	}

	&--market &__icon--arrow {
		font-weight: bold;
	}

	&--market &__data-main {
		font-size: 48px;
		font-weight: bold;
		line-height: .75;
	}

	&--market &__data-sub {
		font-weight: bold;
	}

	&--market &__info-source {
		color: $gray;
		white-space: nowrap;
	}

	&--status &__result--status {
		color: $green;
	}

	&--graph {

		@include media-breakpoint-down(lg) {
			padding: 0;
		}

		padding: 0 20px;
	}

	&--graph &__data-main {
		font-size: 1.25em;
		font-weight: bold;
		line-height: .75;
	}

	&--graph &__data-sub {
		font-size: .8em;
		color: $gray;
	}

	&__tag {
		border: 1px solid #BEBEBE;
		border-radius: 4px;
		background: #E9E9E9;
		justify-content: center;
		align-items: center;
		height: 41px;
		margin: 12px;
		font-size: 15px;
		font-weight: 500;
		box-shadow: 0 0 0 rgba(0,0,0,0.1), 0 1px 0 rgba(0,0,0,0.1);
	}

	&__empty {
		background: #fff;
		border: none;
		box-shadow: none
	}

	&__help {
		margin-top: 30px;
		padding: 20px;
		display: flex;
		flex-direction: row;
		align-items: center;
		&__title {
			font-size: 26px;
		}
		&__note {
			font-size: 14px;
			color: rgb(118, 118, 118);
			line-height: 1.7;
			margin-top: 12px;
			span {
				color: rgb(57, 166, 229);
			}
		}
		&__button {
			border-radius: 27px;
			font-size: 24px;
			background-color: rgb(158, 0, 0);
			width: 200px;
			height: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;
			@media (max-width: 991px) {
				margin-top: 30px;
			}
			&:hover {
				cursor: pointer;
				box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
			}
			img {
				margin-left: 12px;
				margin-top: 1px;
				
			}
		}
	}
}

.indicator {
    padding-left: 0.5em;

}

.indicator span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.indicator span:nth-child(2) {
  animation-delay: .2s;
}

.indicator span:nth-child(3) {
  animation-delay: .4s;
}

.card--block.opcode {
	color: #000000 !important;
}

.card--block.opcode .card__label{
	min-width: 100px;
} 

.bg-eee {
	background: #eee;
}

.bet-black-card {
	font-size: 20px;
	line-height: 1.25;
	margin-top: 16px;
	margin-bottom: 16px;
	height: 100%;
	min-height: 1390px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	border-radius: 5px;
	&:hover {
		box-shadow: 0 8px 14px rgba(0,0,0,0.20), 0 4px 4px rgba(0,0,0,0.18);
	}

	&__title {
		padding: 10px 15px 0px 15px;
		font-size: 17px;
		font-weight: 500;
		text-transform: capitalize;
		background: black;
		height: 40px;
		color: #fff
	}

	&__body {
		font-family: $fontLarge;
		height: 100%;
		padding: 15px;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

}

.mt-12 {
	margin-top: 12px
}