.global-menu-wrapper {
  // background: #bd0000;
  width: 100%;
}

.global-menu-desktop {
  background: url("/img/uiupdate/header_back1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 170px;
  @media (max-width: 1000px) {
    background: url("/img/uiupdate/header_back1.png");
    height: 89px;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.global-menu-desktop-unexplorer {
  background: url("/img/uiupdate/header_back.png");
  height: 93px;
}

.global-menu-desktop__header {
  display: flex;
  height: 93px;
}

.global-menu-desktop__logo {
  height: 93px;
  width: 93px;
}

.global-menu-desktop_links {
  display: flex;
}

.global-menu-desktop_logo_section {
  padding: 0px 76px;
  text-align: center;
  @media (max-width: 956px) {
    padding: 0px;
  }
}

.global-menu-desktop__item-icon {
  height: 20px;
  width: 20px;
}

.global-menu-desktop__item {
  padding: 25px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 110px;
  &:hover {
    background: #570502;
    // border-bottom: 4px solid green;
  }
  &__submenu {
    background: #27221c;
    margin-top: 24px;
    color: #fff;
    font-size: 12.5px;
    z-index: 100;
    &__text {
      padding: 6px 0 2px 0;
      font-size: 14px;
      color: #fff;
      &:hover {
        cursor: pointer;
        color: gray;
      }
    }
  }
}

.global-menu-desktop__item.global-menu-desktop__item--is-active {
  background: #570502;
  height: 93px;
  @media (max-width: 1000px) {
    height: 89px;
  }
}
.global-menu-desktop__item.global-menu-desktop__item2--is-active {
  background: #570502;
  height: 93px;
}
.global-menu-desktop__item-icon {
  margin: auto;
  display: flex;
}

.global-menu-desktop__item-label {
  color: white;
  margin: auto;
  font-size: 14px;
}
.global-menu-desktop__item-label--disabled {
  margin: auto;
  font-size: 14px;
  color: #d0d0d0;
  text-shadow: #808080 1px 1px 0;
  opacity: 0.9;
}

.global-menu-desktop_wallet_setion {
  width: 100%;
  padding: 10px 25px;
  @media (max-width: 768px) {
    padding: 0;
  }
}

.global-menu-desktop_wallet_connection {
  padding: 5px 10px;
  float: right;
  width: 280px;
  height: 100%;
  background-color: #570502;
  @media (max-width: 768px) {
    padding: 3px 2px 0 7px;
    width: 120px;
    height: 45px;
  }
}

.global-menu-desktop_chain_section {
  width: 30%;
  display: inline-block;
  border: 3px solid white;
  color: white;
  padding: 10px;
  height: 100%;
  @media (max-width: 768px) {
    padding: 3px 2px 0 7px;
    width: 120px;
    height: 45px;
  }
}

.global-menu-desktop_wallet_balance {
  color: white;
  font-weight: bold;
  font-size: 15px;
  @media (max-width: 768px) {
    font-size: 11px;
  }
}

.desktop_wallet_connection_status {
  display: flex;
  @media (max-width: 768px) {
    margin-top: -3px;
  }
}

.wallet_connection_status_text_off {
  color: #bd0000;
  font-size: 15px;
  @media (max-width: 768px) {
    font-size: 11px;
  }
}

.wallet_connection_status_text {
  color: #ffffff;
  font-size: 15px;
  @media (max-width: 768px) {
    font-size: 11px;
  }
}

.wallet_connection_button {
  background: #970e15;
  color: white;
  border: 1px solid #970e15;
  font-weight: bold;
  margin-top: 0.8em;
  border-radius: 5px;
  @media (max-width: 768px) {
    font-size: 11px;
  }
}

.wallet_connection_status_mark {
  margin-right: 5px;
  display: inline-block;
  background-color: rgba(3, 163, 88, 0.836);
  width: 10px;
  height: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  @media (max-width: 768px) {
    margin-top: 3px;
  }
}

.betting-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 2px;
}
.menu-betting-label {
  margin-left: 25px;
  font-size: 14px;
  font-weight: 500;
}

.betting-menu-desktop__item-icon {
  height: 17px;
  width: 17px;
}
.betting-menu--active {
  background: #000;
  border-left: 2px solid #bd0000;
}
.p-0 {
  padding: 0;
}
.flex-1 {
  flex: 1;
}
.ft-12 {
  font-size: 12px;
}
.disabled-link {
  pointer-events: none;
}
