.search {

	position: relative;
	width: var(--width);
	float: right;
	margin-top:15px;
	margin-right: 20px!important;
	@media (min-width: 767px){
		display: none;
	}
	&:hover {
		
	}

	&__icon {
		position: absolute;
		left: 1em;
		margin-right: 1em;
		opacity: .5;
		top: calc(50% - .5em);
	}

	&__input {
		border: 1px solid lighten($gray, 15%);
	  	border-radius: 5px;
	  	margin: 0;
		padding: 25px;
		padding-left: 45px;
		width: 100%;

		&:focus,
		&:hover {

			outline: none !important;
			border-color: inherit;

			& + svg {
				opacity: 1;
			}
		}

		&__icon {
			padding-left: 80px;
			margin-bottom: 30px;	
		}

	}

	&--mobile {
	  font-size: .8em;
	}

	&--mobile &__input {
		background: $white;
	  	border: 1px solid $black;
		color: $black;
	}

	&--mobile input.search__input::placeholder {
		color: $black;
	}


}
