.tab {
    background-color: #B50102;
    margin-right: 3px;
    color: white!important;
    width:20vw;
    &:hover {
        cursor: pointer;
        border-bottom: 7px solid #00D614!important;
        margin-top: -7px;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);  
    }
    &__active {
        border-bottom: 3px solid #00D614!important;
        margin-top: -3px;
    }
}