.content {
	// margin-top: 0;
}

.content-top {
	margin-top: -77px;
	@media (max-width: 1000px) {
		margin-top: -72px;
	}
}
.content_search_wrapper {
	display: flex;
	flex-direction: row;
}	

.content__wrapper{
	margin: 0px !important;
	// @media (max-width: 767px) {
	// 	margin-right: -18px!important;
	// }
}

.content__wrapper_total{
	width:100%;
	display: flex;
	flex-direction: column;
}

.content_search_wrapper .animated.fadeIn{
	width: 60%;
	display: flex;	
	// //background: url("/img/uiupdate/search_back.png");
	// //background-position: center; /* Center the image */
  	// background-repeat: no-repeat; /* Do not repeat the image */
  	// background-size: cover; /* Resize the background image to cover the entire container */
	padding: 10px 15px 10px 50px;
}

.content_saerch_wrapper_space{
	display: flex;
}

.content_page_title{
	text-align: left;
	display:flex;
	// width: 40%;
	padding: 30px 0px 0px 35px;
}

.content_page_title span{
	font-size: 27px;
	font-weight: bold;
	color: black;
	@media (max-width: 767px) {
		font-size: 19px;
	}
}

.card__title{
	background: #b40101;
	color: white;
	padding: 5px 15px 5px 15px;
	text-align:center;
	font-size: 20px;
	font-weight: 600;
	margin: 0px;
	height: 34px;
	&__last {
		@media (max-width: 767px) {
			display: none;
		}
	}
	&__hidden {
		@media (max-width: 767px) {
			height: 12px!important;
		}
	}
	&__th {
		@media (max-width: 767px) {
			font-size: 0;
		}
	}
	@media (max-width: 900px) {
		font-size: 16px;
		height: 27px;
	}
	@media (max-width: 767px) {
		font-size: 13px;
		height: 24px;
	}
}
.card__body{
	padding: 0px;	
	font-size: 18px;
	font-weight: 600;
}

.card__row{
	border-bottom: 1px solid #d4d4d4;
	padding: 5px 10px;
}
.card__border{
	display: flex;
	height: 40px;
	border-bottom: 1px solid #d4d4d4;
}

.card__borders {
	border-right: 1px solid #d4d4d4;
	border-left: 1px solid #d4d4d4;
}

.card__label {
	width: 30%;
	@media (max-width: 900px) {
		width: 40%;
		font-size: 12px;
	}
}
.card__result{
	width: 70%;
	text-align: right;
	@media (max-width: 900px) {
		width: 60%;
		font-size: 12px;
	}
}

.card{
	min-height: 100px;
}

.card--market .card__body{
	padding: 20px 15px;
}

.card__info-source{
	color: rgba(0, 0, 0,.5) !important;
	font-size: 14px;	
}
.bg-87 {
	background: #870000;
	height: 27px;
	font-size: 15px;
}
 
.bg-eee {
	background: #eee;
}
.direction-row {
	width: 100%;
	display: flex;
	flex-direction: row;
}
.space-between {
	align-items: center;
	justify-content: space-between;
}

.flex-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	line-height: 40px;
	font-weight: 600;
}
.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
h2 {
	font-weight: 700!important;
	@media (max-width: 767px) {
		font-size: 21px;
	}
}
.w-10 {
	width: 10%;
	display: flex;
	align-items: flex-start;
}
.w-20 {
	width: 20%;
	display: flex;
	align-items: flex-start;
	@media (max-width: 900px) {
		width: 26.6%;
	}
}
.w-33 {
	width: 33.3%;
	display: flex;
	align-items: flex-start;
}
.w-40 {
	width: 40%;
	display: flex;
	align-items: flex-start;
	@media (max-width: 900px) {
		width: 20%;
	}
}
.m-20 {
	margin: 20px;
	@media (max-width: 900px) {
		margin: 16px;
	}
	@media (max-width: 767px) {
		margin: 0;
	}
}
.m-t-10 {
	margin-top: 10px
}
.m-t-20 {
	margin-top: 20px
}
.m-t-50 {
	margin-top: 50px
}
.m-h-20 {
	margin-left: 20px;
	margin-right: 20px
}
.p-5-10 {
	padding: 5px 10px;
	margin: 0;
	@media (max-width: 767px) {
		font-size: 12px;
	}
}
.p-5-0 {
	padding: 5px 0;
	margin: 0;
	@media (max-width: 767px) {
		font-size: 12px;
	}
}
.p-20 {
	padding: 20px
}
.p-13 {
	padding: 13px
}
.p-12 {
	padding: 12px;
	@media (max-width: 900px) {
		padding: 0 2px;
		padding-top: 8px
	}
	@media (max-width: 767px) {
		padding: 0 2px;
		padding-top: 4px
	}
}
.font-17 {
	font-size: 17px;
	@media (max-width: 900px) {
		font-size: 14px;
	}
	@media (max-width: 767px) {
		font-size: 11px!important;
	}
}
.font-14 {
	font-size: 14px;
	@media (max-width: 767px) {
		font-size: 12px;
		line-height: 1;
		text-align: center;
	}
}
.font-weight-500 {
	font-weight: 500;
}
.m-t--16 {
	margin-top: -16px
}
.mr-10 {
	margin-right: 10px;
}
.h-140 {
	height: 140px;
}
.m-12 {
	@media (max-width: 767px) {
		margin: 7px;
		margin-right: 22px;
		margin-top: 12px;
	}	
}
.display-none {
	display: none;
}
.link {
	color: #b40101;
	cursor: pointer;
	text-decoration: underline; 
}

.align-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.align-row-center {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.wgr-img {
	width: 210px;
	height: 70px;
}

.bet-history {
	margin-top: 20px;
	@media (max-width: 767px) {
		margin-top: 90px;
		margin-left: 12px
	}
}
.mobile-logo {
	width: 60px;
	height: 45px;
	position: absolute;
	left: 40%
}
/* chain-game */
.chain-game {
	position: relative;
	background:url('/img/uiupdate/chain-game.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 423px;
	color: #fff;
	margin: 1px;
	margin-bottom: 22px;
	padding-right: 40px;
	@media (max-width: 767px) {
		margin: 0;
		margin-top: 50px;
		margin-right: 12px;
		height: auto;
		padding-right: 0;
	}
	.chain-title {
		color: #b40101;
		font-size: 20px;
		font-weight: 500;
		@media (max-width: 767px) {
			font-size: 16px;
		}
	}
	.chain-sm-title {
		color: #6c757d;
		font-size: 16px;
		margin-top: 4px;
		@media (max-width: 767px) {
			font-size: 8px;
		}
	}
	.chain-sm-date {
		font-size: 16px;
		margin-top: 4px;
		@media (max-width: 767px) {
			font-size: 12px;
		}
	}
	.chain-xs-title {
		color: #b40101;
		font-size: 16px;
		font-weight: 600;
		margin-top: 8px;
		text-align: center;
		@media (max-width: 767px) {
			font-size: 9px;
		}
	}
	.chain-italic {
		color: #6c757d;
		font-size: 12px;
		font-style: italic;
		margin-top: 4px;
	}
	.chain-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		background: #b40101;
		font-size: 14px;
		font-weight: 500;
		border-radius: 2px;
		width: 160px;
		height: 50px;
		margin-top: 36px;
	}
	.chain-text {
		font-weight: 700;
		font-size: 36px;
		span {
			font-size: 18px;
			@media (max-width: 767px) {
				font-size: 12px;
			}
		}
		@media (max-width: 767px) {
			font-size: 22px;
		}
	}
	.chain-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 33%
	}
	.chain-item-center {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-right: 3px solid #222;
		border-left: 3px solid #222;
		width: 34%
	}
	.bg-1 {
		width: 100%;
		background: #111;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding: 15px;
		margin-top: 18px;
	}
}

.bet-search {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: row;
	color: #BFC0C3;
	margin-top: 15px;
	div {
		@media (max-width: 767px) {
			font-size: 12px;
		}
	}
	input {
		min-width: 400px;
		margin-left: 20px;
		border: none;
		border-bottom: 1px solid #BFC0C3;
		padding: 0;
		background: #DEE2E6;
		color: #111!important;
		@media (max-width: 1000px) {
			min-width: 200px;
		}
	}
}

.quote-img {
	position: absolute;
	top: 16px;
	right: 12px
}

/* chain-game */
.help {
	display: flex;
	flex: 1;
	@media (max-width: 767px) {
		margin-top: -60px;
		margin-bottom: 10px;
	}
	h2 {
		margin-bottom: 40px;
		@media (max-width: 767px) {
			margin-bottom: 10px;
		}
	}
	&__item {
		text-align: center;
		margin-top: 15px;
		&__title {
			font-size: 21px;
			font-weight: 600;
			margin: 15px 0;
			@media (max-width: 767px) {
				font-size: 15px;
			}
		}
		&__description {
			font-size: 14px;
			font-weight: 500;
			@media (max-width: 767px) {
				font-size: 12px;
			}
		}
		&__note {
			font-size: 15px;
			color: rgb(57, 166, 229);
			margin-top: 6px;
			@media (max-width: 767px) {
				margin: 12px;
			}
			span {
				color: #000;
			}
		}
		img {
			@media (max-width: 767px) {
				width: 40px;
				height: 40px;
			}
		}
	}
	&__step {
		transition: all 0.8s cubic-bezier(.25,.8,.25,1);
		&__title {
			align-self: center;
			font-weight: 600;
			font-size: 22px;
			margin-top: 40px;
			margin-bottom: 12px;
			text-align: center;
			@media (max-width: 767px) {
				font-size: 17px;
			}
		}
		&__item {
			border-top: 1px solid #C4C6C8;
			font-size: 12px;
			padding: 12px;
			transition: all 0.8s cubic-bezier(.25,.8,.25,1);
			&:hover {
				cursor: pointer;
			}
			&__desc {
				font-size: 15px;
				margin-left: 20px;
				font-weight: 700;
				@media (max-width: 767px) {
					font-size: 12px;
				}
			}
			&__title {
				font-size: 21px;
				color: rgb(57, 166, 229);
				@media (max-width: 767px) {
					font-size: 17px;
				}
			}
			&__note {
				margin-left: 31px;
			}
			
			ul li {
				color: rgb(57, 166, 229);
				margin-left: 12px;
				margin-top: 12px;
				line-height: 0.8;
			}
		}
	}

}

.search__card {
	width: 64px;
	height: 52px;
	background: #970E15;
	position: absolute;
	border-radius: 5px;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
tr.table-header {
	background: #b40202;
	color: #fff;
	line-height: 16px;
	@media (max-width: 1030px){
		font-size: 15px!important;
	}
	@media (max-width: 900px){
		font-size: 13px!important;
	}
	@media (max-width:767px){
		font-size: 12px!important;
		height: 24px!important;
	}
}
tr.table-header-long {
	background: #545454!important;
	color: #fff;
	text-align: center;
	@media (max-width: 900px){
		font-size: 15px!important;
	}
}
tr.table-item {
	font-size: 16px;
	@media (max-width: 900px){
		font-size: 12px!important;
	}
}
.w3-table-all {
	border: none;
}
.w3-table-all th {
	@media (max-width: 767px){
		padding: 2px 7px
	}
}
.w3-tables {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	border-radius: 5px;
	margin-bottom: 30px;
	margin-top: 20px;
	&:hover {
		box-shadow: 0 8px 14px rgba(0,0,0,0.20), 0 4px 4px rgba(0,0,0,0.18);
	}
	&__title {
		padding: 10px 12px 6px 12px;
		font-size: 16px;
		text-transform: capitalize;
		background: #b40202!important;
		color: #fff;
		font-weight: bold;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		@media (max-width: 767px){
			padding: 3px 7px;
			font-size: 12px;
		}
		&__dropdown {
			padding: 4px 6px; 
			width: 80px;
			height: 27px;
			border-radius: 4px;
			background: #2F0000;
			margin-left: 20px;
			font-size: 15px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}
}
.table-footer {
	display: flex;
	flex-direction: row;
	height: 32px;
	background: #f2f3f5;
	&__icon {
		width: 40px;
		min-width: 40px;
		border: 1px solid grey;
		border-right: none;
		display: flex;
		justify-content: center;
		align-items: center;
		&:hover {
			cursor: pointer;
			background: #b40202;
			color: #fff;
			border: none
		}
	}
	&__row {
		flex: 1;
		flex-direction: row;;
		overflow: hidden;
		display: flex;
		div {
			width: 40px;
			min-width: 40px;
			border: 1px solid grey;
			border-right: none;
			display: flex;
			justify-content: center;
			align-items: center;
			&:hover {
				cursor: pointer;
				background: #b40202;
				color: #fff;
				border: none
			}	
		}
	}
}
.cell-ellipsis {
	max-width: 600px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	@media (max-width: 1527px) {
		max-width: 400px;
	}
	@media (max-width: 1330px) {
		max-width: 300px;
	}
	@media (max-width: 1200px) {
		max-width: 150px;
	}
	@media (max-width: 800px) {
		max-width: 100px;
	}
	@media (max-width: 760px) {
		max-width: 400px;
	}
}
.td-supply {
	background: #000;
	padding: 0;
	color: #fff;
	width: 70px;
	border-radius: 4px;
	text-align: center;
	font-size: 12px;
}
.td-supply-plus {
	background: #ED1B24;
	padding: 0;
	color: #fff;
	width: 70px;
	border-radius: 4px;
	text-align: center;
	font-size: 12px;
}
.table-hover {
	@media (max-width: 760px) {
		font-size: 12px;
	}
	&:hover {
		// cursor: pointer;
		outline: 1px solid #ED1B24;
		opacity: 0.7;
	}
}

.slick-slider {
	background: #000;
	color: #fff;
	padding: 0 17px;
	&__item {
		position:relative;
		width: 126px;
		min-width: 126px;
		padding: 8px;
		&__active {
			border-bottom: 3px solid #B40102; 
		}
	}
	&__item:after {
		content:"";
		position:absolute;
		top:20%;
		right:0;
		width:1px;
		height:60%;
		background:#fff;
	}
	&__cup {
		padding: 4px 18px;
		border-right: 0.4px solid #fff; 
		display: flex;
		flex-direction: row;
		align-items: center;
		line-height: 1.2;
		width: 190px;
		min-width: 190px;
		div{
			padding-left: 12px;
		}
	}
	&__row {
		font-size: 14px;
	}
	&__leftarrow {
		border-right: 1px solid #fff;
		width: 40px;
		min-width: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		&:hover {
			cursor: pointer;
		}
	}
	&__rightarrow {
		border-left: 1px solid #fff;
		width: 40px;
		min-width: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		&:hover {
			cursor: pointer;
		}
	}
}

.border-none {
	border: none
}
.w3-dropdown-hover:first-child, .w3-dropdown-click:hover {
    background-color: transparent!important;
}
.w3-button:hover {
	background: transparent!important;
	color: #FFF!important;
}
.w3-bar-block {
	background: #27221C;
	margin-left: -25px;
	width: 50px;
	color: #FFF;
}
.w3-dropdown-content {
	min-width: 110px;
}
th.mobile-recipents::after {
	content: 'RECIPIENTS';
	@media (max-width: 1030px) {
		content: '(R)';
	}	
	@media (max-width: 750px) {
		content: 'RECIPIENTS';
	}	
}

.bet-right {
 	margin-right: 0;
	@media (max-width: 767px) {
		margin: 0;
		padding: 0
	}	
}
.w-m-180 {
	min-width: 180px;
}
.w-m-160 {
	min-width: 160px;
}
.w-m-140 {
	min-width: 140px;
}
.w-m-120 {
	min-width: 120px;
}
.w-m-100 {
	min-width: 100px;
}
.w-m-80 {
	min-width: 80px;
}
.w-m-30 {
	min-width: 30px;
}
.h3 {
	@media (max-width: 767px) {
		font-size: 18px;
	}
}
.h5 {
	@media (max-width: 767px) {
		font-size: 12px;
	}
}
.global-switch {
	position: fixed;
    right: 20px;
	top: 40%;
	z-index: 1000; 
	width: 240px;
	border-radius: 6px;
	box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
	transition: right 0.5s ease-out;
	&__full {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	&__note {
		background: white; 
		height: 50px;
		width: 36px;
		padding-left: 5px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-left: -50px;
		box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		&:hover {
			cursor: pointer;
		}
	}
	&__body {
		background: white; 
		padding: 15px 10px 0 10px;
		width: 100%;
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		&__item {
			display: flex;
			align-items: center;
			flex-direction: row;
		}
		&__label {
			display: flex;
			flex-direction: row;
			color: #808080;
			font-size: 12px;
			margin-left: 7px;
			margin-top: -12px;
			&__active {
				color: #b40202;
				font-weight: 700;
			}
			&:hover {
				cursor: pointer;
			}
		}
	}
	&.hidden {
		right: -254px;
	}
	&.shown {
		right: -20px;
	}
}

.slick-prev {
	left: -10px;
}

.slick-next {
    right: -10px;
}
.slick-list {
	border-left: 1px solid;
	border-right: 1px solid;
}