$wgreen: rgba(0, 194, 101, 1);
$wgreen-dark: #00783C;
$wgreen-light: #00DD70;

.nav-tabs {
  font-weight: bold;
  padding: '0 7px 0 7px';

 .nav-link.active {
    background: $wgreen !important;
    background-color: $wgreen !important;
    border-color: $wgreen-dark !important;
  }
}

.modal-dialog {
  max-width: 750px !important;
}

.modal-content {
  border: 0;
}

.modal-header {
  background-color: $wgreen;

  .close {
    color: #ffffff;
  }

  .close:not(:disabled):not(.disabled):hover,
  .close:not(:disabled):not(.disabled):focus {
    opacity: .25;
  }
}

.modal-title {
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}